  html, body {
    height: 100%;
    margin: 0;
    background: url("https://cdn.vox-cdn.com/thumbor/Rr6k2HAHSvVV5J1RJB0PppZWGOA=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/66957478/snapChatPattern_BW.0.jpg");
}

.fp5nm8g {
  background-color: red;
}